Group(description='Links')
  Variable(name='body.link.color', 
           description='Link color',
           type='color', default='#2196f3'  value='#2196f3')/
  Variable(name='body.link.visited.color',
           description='Visited link color',
           type='color',
           default='$(body.link.color)', value='#2196f3')/
  Variable(name='body.link.hover.color',
           description='Link Hover color',
           type='color',
           default='$(body.link.color)',  value='#2196f3')/
